


.tasklist-item-progress {
    font-style: italic;
}

.tasklist-item-done {
    text-decoration: line-through;
}

.tasklist-item-todo {
    color:red;
}
/* 

.tasklist-item-sbognato {
    color:red;
    text-decoration:blink;
} */
